<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <h2>Datos de usuario</h2>
    <input type="email" placeholder="Email" value="{{email::input}}"/>
    <input type="password" placeholder="Password" value="{{password::input}}"/>
    <button on-click="login">Login</button>
    <!--al hacer click llamo a la funcion login-->

    <!--<input type="text" value="{{first_name::input}}"/>-->
    <!--<input type="range" min="18" value="{{age::input}}" max="70"/>-->

    <!--el iron-ajax siempre lo ultimo, porque corta a partir de ahi-->
    <!--si no ponemos nada el metodo por defecto es GET-->
    <iron-ajax
      id="doLogin"
      method="POST"
      url="http://localhost:3000/apitechu/v2/login"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          }
        };
      }
      login(){
        console.log("Boton login pulsado");
        var loginData = {
          "email": this.email,
          "password" : this.password
        };
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Peticion enviada.");
      }
      manageAJAXResponse(data){
        console.log("Respuesta recibida");
        console.log(data.detail.response);
      }
      showError(error){
        console.log("Hubo algun error.");
        console.log(error);
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
<!--this.$.doLogin el $ indica que voy al shadow dom para usar doLogin de ajax -->
