<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="receptor-evento">
  <template>
    <style>
      :host {
        display: block;
        text-align: center;
        background-color: #3bb8f7;
        border-radius: 15px;
      }
    </style>

    <h1>Soy el Receptor</h1>
    <h2>Este es el curso {{course}}</h2>
    <h2>en el año {{year}}</h2>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class ReceptorEvento extends Polymer.Element {
      static get is() { return 'receptor-evento'; }
      static get properties() {
        return {
          course:{
            type: String
          },
          year:{
            type: Number
          }
        };
      };

      showData(data){
        console.log("Datos recibidos en el receptor");
        console.log(data);
        this.course=data.course;
        this.year=data.year;

      }

    }

    window.customElements.define(ReceptorEvento.is, ReceptorEvento);
  </script>
</dom-module>
