<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>


    <h2>Datos de cuentas de usuario</h2>
<!--<h3>IBAN: {{IBAN}}</h3>
    <h3>Balance: {{balance}}</h3> -->

    <template is="dom-repeat" items="{{accounts}}">
      <h3> IBAN - {{item.IBAN}}</h3>
      <h3> Saldo - {{item.balance}}</h3>
    </template>

    <!--<input type="text" value="{{first_name::input}}"/>-->
    <!--<input type="range" min="18" value="{{age::input}}" max="70"/>-->
    <!--el iron-ajax siempre lo ultimo, porque corta a partir de ahi-->
    <!--auto para que se ejecute automaticamente-->
    <iron-ajax auto=""
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{uid}}/accounts"
      handle-as="json"
      on-response="showData"
    >

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          uid: {
            type: Number
          },
          IBAN: {
            type: String
          },
          balance: {
            type: Number
          },
          accounts: {
            type: Array
          }
        };
      }
      showData(data){
        console.log("showData");
        console.log(data.detail.response[0]);
        this.accounts = data.detail.response;
        //this.uid = data.detail.response[0].user_id;
        //this.IBAN = data.detail.response[0].IBAN;
        //this.balance = data.detail.response[0].balance;
      }
    }


    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
