<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="emisor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <h1>Soy el Emisor</h1>
    <button on-click="sendEvent">No pulsar</button>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class EmisorEvento extends Polymer.Element {
      static get is() { return 'emisor-evento'; }
      static get properties() {
        return {
        };
      };

      //e es el evento del Boton
      sendEvent(e){
        console.log("Pulsando el botón");
        console.log(e);
        //el 'dispatch' envia cosas para que lo recoga otro tipo de componentes
        //es decir, comunica clases con clases
        this.dispatchEvent(
          new CustomEvent(
            "myevent",
            {
              "detail" : {
                "course" : "TechU",
                "year" : 2018
              }
            }
          )
        );
      }
    }

    window.customElements.define(EmisorEvento.is, EmisorEvento);
  </script>
</dom-module>
